* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}

html {

    overflow-x: hidden;
    scroll-behavior: smooth;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

/*NAVBAR*/
.navbar-brand {
    color: grey;
}


.nav-link {
    cursor: pointer;
    color: grey;
}

.nav-link:hover {
    background-color: hotpink;
    color: white;
    border-radius: 1rem;
}


.nav-link:active {
    background-color: hotpink;
    color: white;
    border-radius: 1rem;
}

/*JUMBTRON-HOME*/
.fullheight {
    height: 100vh;
}

.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img-fixed {
    background-attachment: fixed;
}

.container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

section {
    padding: 9rem 0;
}

.slogan {
    text-align: left;
}

.slogan h1 {
    font-size: 3rem;
    color: grey;
}


.slogan button {
    padding: 1rem 5rem;
    outline: none;
    border: none;
    background-color: #f78fb3;
    border: .125rem solid#f78fb3;
    border-radius: 2rem;
    color: white;
    margin: 3rem 0;
    cursor: pointer;
    font-weight: 600;
    transition: .5s ease-in-out;
}

.slogan p {
    color: whitesmoke;
}

.slogan button:hover {
    background-color: transparent;
    color: hotpink;
}

.fullwidth {
    width: 100%;
}

.medium {
    width: 90%;
}

/*APA ITU BK?*/
#about img {
    border-radius: 2rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px,
        rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.about-slogan {
    padding: 4rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15)0px 2px 8px;

}

.about-slogan.start {
    transform: translateX(-10rem) !important;
}

.about-slogan h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: grey;
}

.primary-color {
    color: hotpink;
}

.heading-profile {
    font-size: 95px;
}

#visiMisi img {
    border-radius: 2rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px,
        rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.konsultasi {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    background-color: hotpink;
    border: .125rem solid hotpink;
    color: white;
    margin: 2rem 0;
    margin-right: 2rem;
    cursor: pointer;
    font-weight: 600;

}

.read {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    background-color: transparent;
    border: .125rem solid hotpink;
    color: hotpink;
    margin: 2rem 0;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

.konsultasi:hover {
    background-color: white;
    border-color: hotpink;
    color: hotpink;
}

.read:hover {
    background-color: hotpink;
    border-color: hotpink;
    color: white;
    text-decoration: none;
}

.box1-profile {
    padding: 2rem 1rem;
    margin: 2rem;
    outline: none;
    border: none;
    border-color: hotpink;
    border: .35rem solid hotpink;
    background-color: white;
}

.big-box-profile {
    padding: 1rem 1rem;
    margin: 2rem;
    outline: none;
    border: none;
    border-color: hotpink;
    border: .35rem solid hotpink;
    background-color: white;
}

/*PERANAN BK*/
.card:hover {

    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px,
        rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.areatext {
    height: 150px;
}

.contactsubmit {
    height: 50px;
    background-color: hotpink;
    color: white;
    border: solid hotpink;
}

.contactsubmit:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

/*FOOTER*/
footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #212529;
}

.footer>* {
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-left h2 {
    width: 50%;
}

h4 {
    font-weight: 600;
    font-style: 17px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #999;
}

.footer-bottom {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.footer-left p {
    padding-right: 20%;
    color: #999;
}

.socials a {
    background: #364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.socials a i {
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}

.circle {
    margin: 20px;
    width: 100px;
    height: 100px;
    background: transparent;
    border: solid gray;
    border-radius: 100%;
}

@media screen and (min-width:600px) {
    .footer-right>* {
        flex: 1;
    }

    .footer-left {
        flex: 1 0px;
    }

    .footer-right {
        flex: 2 0px;
    }
}

/*ANIMATION*/
.left-to-right {
    transform: translateX(-150%);
    transition: 1s ease-in-out;
}

.left-to-right.start {
    transform: translateX(0);
}

.right-to-left {
    transform: translateX(150%);
    transition: 1s ease-in-out;
}

.right-to-left.start {
    transform: translateX(0);
}

.bottom-up {
    transform: translateY(30%);
    transition: .6s ease-in-out;
}

.bottom-up.start {
    transform: translateY(0);
}

.delay-2 {
    transition-delay: .2s;
}

.delay-4 {
    transition-delay: .4s;
}
